<p>
    This identity and address verification (ID&V) report provides
    a record of the information collected about your customer and
    the verification checks performed against that individual.
    Please save this report against the customer's records to prove
    that you have completed customer due diligence.
</p>
<p>
    WealthXcel Connect is a service provided by Tiller Technologies Limited.
    Tiller Technologies Limited is registered in Jersey with the Jersey
    Registry under Company Number 129056. Tiller's registered address is
    5 St Andrews Place, Charing Cross, St Helier,Jersey, JE2 3RP.
    We take the security of the data and information we hold seriously and
    are committed to protecting and respecting privacy.
</p>