<p>
    I consent to Mclnroy & Wood using my personal information to keep in touch and to send me information relating to Mclnroy & Wood
    and their services which may be of interest to me, such as their 'occasional articles' and information about their events.
</p>