<p class="bold">Please read these licence terms carefully</p>
<p>
    If you have got to here you have been asked by one of our clients to become one of their customers and to have your identity checked or background information verified.
    We do that for them. You might be a firm in business or an individual. Either way we will use the pronoun you or yours to refer to you.
</p>

<p>
    The services here are free to you to use but if you don’t want to use the app stop now and tell the person who gave you the details of the app.
    By proceeding to use the app you agree to these terms which will bind you.
</p>

<p>If you do not agree to these terms, do not proceed.</p>
<p>I am over 18 years old, and I accept the Verify by Tiller <a href="https://www.tiller-verify.com/end-user-terms" target="_blank">End User Terms</a> and acknowledge the <a href="https://www.tillertech.com/privacy-policy" target="_blank">Privacy Policy</a>.</p>